<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 15px; margin-bottom: 20px; background-color: #d4f1f4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">VarmentTMS</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ticketList">Tickets</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    </nav>
</div>